<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqQ0hagav3YZ8tXIkQQwVRC7aM5A0QSFA</string>
	<key>GCM_SENDER_ID</key>
	<string>350764629575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.somethingprojectthataymade.eCommerceOfficialApp</string>
	<key>PROJECT_ID</key>
	<string>commerce-fe056</string>
	<key>STORAGE_BUCKET</key>
	<string>commerce-fe056.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350764629575:ios:ade0c8e1893a5099f5fb62</string>
</dict>
</plist>